:root {
    --buttonColor-1: #0796d3;
    --buttonColor-2: #53c0f0;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    &::before,
    &::after {
        box-sizing: inherit;
    }
}
html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

html,
body,
#__next {
    height: 100%;
}

body {
    font-family: 'Inter Tight', sans-serif;
    background-color: #fff;
}
