$mainPage-background-color: #f1f1f1;

$headerPhrase-color: #0000008a;

$mainBorder-color: #d7dde9;
$secondaryBorder-color: #B0BBD1;

$cardBorder-color: #eaecf0;

$cancelButtonColor: #e7eefb;

$mainBlue: #0796d3;
$checkbox-Background: #A0DCF6;

$input-Background: #F7F9FD;

$mainRed: #D30707;
