@import '../styles/settings.module.scss';

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 2rem;
    height: 100%;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-inline: 5.6rem;
    padding-block: 2.4rem;
    border-bottom: 1px solid $mainBorder-color;
    margin-bottom: 4rem;
    width: 92%;
}

.logo {
    width: auto;
    height: auto;
}

.headerTitle {
    font-size: 2.4rem;
}

.headerPhrase {
    font-size: 1.6rem;
    color: $headerPhrase-color;
}

.mainCard {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 45rem;
    border-radius: 1.6rem;
    border: 1px solid $cardBorder-color;
    padding: 3.2rem;
    gap: 2.4rem;
    margin-bottom: 2.4rem;
}

.mainCardTitle {
    font-size: 1.6rem;
    color: $headerPhrase-color;
}

.mainCardBody {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
