@import '../../styles/settings.module.scss';

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    background: #ffffffcc;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    z-index: 99999999;
    backdrop-filter: blur(2px);
}

.modalTitle {
    font-size: 2.4rem;
    font-weight: 500;
    letter-spacing: -0.02em;
}

.modalContent {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 3.2rem;
    background-color: #fff;
    padding: 3.2rem;
    width: 45rem;
    height: 28.6rem;
    border-radius: 1.6rem;
    box-shadow: 0px 24px 48px -12px #1018282e;

    @media (max-width: 768px) {
        width: 100%;
        height: 100%;
        justify-content: initial;
        align-items: center;
    }
}

.labelContainer {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 19.36px;
    letter-spacing: -0.02em;
}

.modalButtons {
    display: flex;
    justify-content: space-between;

    @media (max-width: 768px) {
        flex-direction: column-reverse;
        gap: 1.6rem;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
}

.modalInput {
    border: 1px solid $mainBorder-color;
    border-radius: 0.8rem;
    padding: 1.6rem;
    height: 5.1rem;
    width: 38.6rem;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 19.36px;
    letter-spacing: -0.02em;
    outline: none;

    @media (max-width: 768px) {
        width: 100%;
    }
}

.container {
    display: flex;
    flex-direction: column;
    gap: 3.2rem;

    @media (max-width: 768px) {
        width: 100%;
    }
}

.confirmText {
    font-size: 1.6rem;
    line-height: 2.4rem;
    letter-spacing: -0.02em;
    color: $headerPhrase-color;
}
